<div *ngIf="!isViewMobile" class="container">
  <div class="btn" *ngFor="let item of navBarItems">
    <button
      (click)="navClicked(item.navItem, $event)"
      type="button"
      class="btn btn-outline-secondary"
    >
      {{ item.name }}
    </button>
  </div>
</div>
<div *ngIf="isViewMobile" class="container menu">
  <button class="btn btn-outline-secondary" [matMenuTriggerFor]="menu">
    Menu
  </button>
  <mat-menu #menu="matMenu" restoreFocus="false">
    <span *ngFor="let item of navBarItems">
      <button mat-menu-item (click)="navClicked(item.navItem, $event)">
        {{ item.name }}
      </button>
    </span>
  </mat-menu>
</div>
