# See http://help.github.com/ignore-files/ for more about ignoring files.

# Compiled Output
/dist
/tmp
/out-tsc
/bazel-out

# Dependencies
/node_modules

# Profiling Files
chrome-profiler-events*.json

# IDEs and Editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history/*

# Logs and Debug Files
npm-debug.log
yarn-debug.log
yarn-error.log
testem.log
libpeerconnection.log

# Miscellaneous
/.sass-cache
/connect.lock
/coverage
/typings

# Angular Cache
.angular/
.angular/cache
.angular/cache/*
.angular/cache/**/*
.angular/cache/*.*

# Environment Files
.env
.env.*.local

# System Files
.DS_Store
Thumbs.db

# Git Large Files
*.pack
*.pack.gz
*.zip
*.tar.gz
*.tgz
*.rar
