<div class="container">
  <div class="row">
    <div class="col-sm">
      <div class="card">
        <div class="card-header">Vision</div>
        <div class="card-body">
          <p class="card-text">
            "Dayawati Mahavidyalay will excel in providing quality education to
            become renowned institute in Ayodhya".
          </p>
        </div>
      </div>
    </div>
    <div class="col-sm">
      <div class="card">
        <div class="card-header">Mission</div>
        <div class="card-body">
          <p class="card-text">
            "To provide good infrastructure and right guidance for developing
            professional skills as well as an environment for growth of students
            which will make them industry ready".
          </p>
        </div>
      </div>
    </div>
    <div class="col-sm">
      <div class="card">
        <div class="card-header">Beliefs</div>
        <div class="card-body">
          <div>
            <p class="card-text">
              "Arise, awake and stop not until the goal is reached".
            </p>
          </div>
          <cite>-Swami Vivekananda</cite>
          <div>
            <p class="card-text">"Work is worship".</p>
          </div>
          <cite>-Anonymous</cite>
        </div>
      </div>
    </div>
  </div>
</div>
