<ul class="list-group">
  <li
    a
    href="#"
    id="course-header"
    class="list-group-item list-group-item-action list-group-item-warning"
  >
    CONTACT US
  </li>
</ul>
<div class="container">
  <div id="box-1" class="box">
    <iframe
      src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d890.9508999569042!2d82.11129934221752!3d26.718720655543!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xc68ef3acfa73e147!2zMjbCsDQzJzA2LjUiTiA4MsKwMDYnNDIuNSJF!5e0!3m2!1sen!2sin!4v1653139359078!5m2!1sen!2sin"
      width="600"
      height="450"
      style="border: 0"
      allowfullscreen=""
      loading="lazy"
      referrerpolicy="no-referrer-when-downgrade"
    ></iframe>
  </div>
  <div id="box-2" class="box">
    <address>
      <strong
        ><font color="black">
          Dayawati Mahavidyalay.<br />
          Near mahawan chauraha, Mahawan Motinagar, Masodha, Ayodhya -
          224201.</font
        ></strong
      ><font color="black">
        <br />
        <i class="fa pright-10 fa-phone"></i>
        <br />
        <strong> Tel:</strong><a href="tel:9451752756"> +91 - 8090365644 </a>/
        <a href="tel:8090076111git init">+91 - 8090076111</a><br />
        <i class="fa pright-10 fa-phone"></i>
        <i class="fa pright-10 fa-envelope-o"></i>
        <font color="black"><strong>E-Mail:</strong></font
        ><font color="black"
          ><a href="dayawatimahavidyalay@gmail.com"
            >&nbsp; dayawatimahavidyalay@gmail.com</a
          ></font
        >
      </font>
    </address>
  </div>
</div>

<div class="scroll-top-btn">
  <button
    (click)="scrollTopClicked()"
    type="button"
    class="btn btn-outline-secondary top-btn"
  >
    Scroll to the top
  </button>
</div>

<ul class="list-group">
  <li class="list-group-item copyright">© Dayawati Mahavidyalay</li>
</ul>
