<h1 mat-dialog-title>{{ !selectedLanguageEnglish ? " सूचना" : "Notice" }}</h1>
<mat-dialog-actions align="end">
  <button
    (click)="changeLanguage()"
    style="margin-top: -54px !important"
    mat-button
    type="button"
    class="btn btn-outline-secondary btn-sm"
  >
    {{ selectedLanguageEnglish ? "हिन्दी" : "English" }}
  </button>
</mat-dialog-actions>
<div class="content" mat-dialog-content>
  <p *ngIf="selectedLanguageEnglish">
    All the students of BA 2nd Semester and BSc 2nd Semester of Dayawati
    Mahavidyalaya are requested to fill their examination form and submit the
    admission fee to the college without delay by
    <b class="date">06/06/2022</b>.
  </p>
  <p class="content" *ngIf="!selectedLanguageEnglish">
    दयावती महाविद्यालय के सभी बी ए द्वितीय सेमेस्टर एवम बी एस सी द्वितीय
    सेमेस्टर के छात्र छात्राओं को सूचित किया जाता है कि अपना परीक्षा फार्म भरकर
    , प्रवेश शुल्क के साथ महाविद्यालय में <b class="date">06/06/2022</b> तक
    अविलम्ब जमा करे।
  </p>
</div>
<mat-dialog-actions align="end">
  <button
    mat-button
    mat-dialog-close
    type="button"
    class="btn btn-outline-secondary btn-sm"
  >
    {{ !selectedLanguageEnglish ? "X" : "Close" }}
  </button>
</mat-dialog-actions>
