<h1 mat-dialog-title>{{ !selectedLanguageEnglish ? " सूचना" : "Notice" }}</h1>
<mat-dialog-actions align="end">
  <button
    (click)="changeLanguage()"
    style="margin-top: -54px !important"
    mat-button
    type="button"
    class="btn btn-outline-secondary btn-sm"
  >
    {{ selectedLanguageEnglish ? "हिन्दी" : "English" }}
  </button>
</mat-dialog-actions>
<div class="content" mat-dialog-content>
  <span *ngIf="selectedLanguageEnglish">
    <p class="content" style="text-align: center">
      According to <span class="flash"> NEW EDUCATION POLICY 2020</span>, anyone
      can take admission in any courses. <br /><br />
      For example: Arts student can take admission in Science Agriculture,
      Commerce student can take admission in agriculture and Science student can
      take admission in Commerce. <br />
    </p>
  </span>
  <span *ngIf="!selectedLanguageEnglish">
    <p class="content" style="text-align: center">
      <span class="flash">नई शिक्षा नीति 2020 के अनुसार</span>, कोई भी किसी भी
      कोर्स में प्रवेश ले सकता है। <br />
      <br />
      उदाहरण के लिए: कला के छात्र विज्ञान कृषि में प्रवेश ले सकते हैं, वाणिज्य
      के छात्र कृषि में प्रवेश ले सकते हैं और विज्ञान के छात्र कर सकते हैं
      कॉमर्स में एडमिशन लें।
    </p>
  </span>
</div>
<mat-dialog-actions align="end">
  <button
    mat-button
    [mat-dialog-close]="'closed'"
    type="button"
    class="btn btn-outline-secondary btn-sm"
    (click)="onLandingPagePopupClose()"
  >
    {{ !selectedLanguageEnglish ? "X" : "Close" }}
  </button>
</mat-dialog-actions>
