.card-body {
  font-family: "Open Sans";
  /* padding-top: 0px !important; */
}

.list-group {
  margin-top: 35px;
}

li {
  width: 77%;
  text-align: center;
  font-family: "Open Sans";
}

ul {
  align-items: center;
}

#course-header {
  background-color: rgb(38 76 122) !important;
  font-weight: bold;
  font-family: "Open Sans";
  color: white;
}

@media (max-width: 912px) {
  li {
    width: 100%;
    /* font-size: 8px; */
  }

  #collapseExample {
    font-size: 13px;
  }
}
