.container {
  background-color: white !important;
  /* display: flex; */
  border: 2px solid black;
  width: 1000px;
  height: auto;
  margin-top: 15px !important;
  margin-bottom: 15px !important;
}

@media (max-width: 500px) {
  .container {
    width: 300px;
    height: auto;
  }
}
